<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glimpse" version="1.8.6" targetFramework="net45" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net45" />
  <package id="Microsoft.AnalysisServices.AdomdClient.Abstractions" version="1.0.9.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1506.2016" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>